<!DOCTYPE HTML>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" /> -->
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>

  <body>

    <div class="header">
      <div class="container row">
        <div class="col-md-5 col-sm-5 col noSidePaddings">
          <ul class="sections hideOnMobile row">
            <li class="col noSidePaddings headerInicio"><a href="#">INICIO</a></li>
            <li class="col noSidePaddings headerVideos"><a href="#">VIDEOS</a></li>
            <li class="col noSidePaddings headerNoticias"><a href="#">NOTICIAS</a></li>
            <li class="col noSidePaddings headerCanal"><a href="#">CANAL</a></li>
            <li class="col noSidePaddings headerContacto"><a href="#">CONTACTO</a></li>
          </ul>
          <img class="mobileMenuImage d-block d-sm-none" src="../images/menu.png">
        </div>
      
        <div class="col-md-2 col-sm-2 col noSidePaddings">
          <img class="logo" src="../images/canal3Logo.png"/>
        </div>
        <div class="col-md-5 col-sm-5 col noSidePaddings headerRightSection">
          <a class="hideOnMobile" href="#"><img class="headerBtn firstBtn" src="../images/ytHeaderBtn.png"/></a>
          <a class="hideOnMobile" href="#"><img class="headerBtn" src="../images/fbHeaderBtn.png"/></a>
          <a class="hideOnMobile" href="#"><img class="headerBtn" src="../images/twitterHeaderBtn.png"/></a>
          <a class="hideOnMobile" href="#"><img class="headerBtn" src="../images/igHeaderBtn.png"/></a>
          <div class="headerSearcher"><img src="../images/searchBtn.png"/></div>
        </div>

        <div class="col-md-5 offset-md-7 col-sm-12 col-12 noSidePaddings headerSearch">
          <input class="headerSearchInput" type="text" placeholder="B U S C A R  . . ."> 
          <button class="searchButton" style="display: none;"><a href="#"></a></button>
        </div>
      </div>
    </div>

    <div class="col-12 row mobileMenu noSidePaddings">
      <div class="mobileMenuItem firstMenuItem noSidePaddings col-12">INICIO</div>
      <div class="mobileMenuItem noSidePaddings col-12">VIDEOS</div>
      <div class="mobileMenuItem noSidePaddings col-12">NOTICIAS</div>
      <div class="mobileMenuItem noSidePaddings col-12">CANAL</div>
      <div class="mobileMenuItem noSidePaddings col-12">CONTACTO</div>
    </div>

    <div id="carousel" class="carousel slide slider" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active ">
          <img class="d-block img-fluid sliderImage" src="../images/SitioWeb_Banner-Colonia.png" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid sliderImage" src="../images/SitioWeb_Banner-Deportivo.png" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid sliderImage" src="../images/SitioWeb_Banner-Noticiero.png" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid sliderImage" src="../images/SitioWeb_Banner-Rural.png" alt="Fourth slide">
        </div>
      </div>
    </div>

    <div class="grillaContainer">
      <div class="container">
        <div class="grillaTitle">GRILLA DE <b>CONTENIDO</b></div>

        <div class="grillaDays row">
          <div class="daySection col rightBorder">
            <div class="dayTitle">LUNES</div>
            <div class="dayText">PROGRAMA 8</div>
            <div class="dayText">17.00 - 18.00</div>
          </div>
          <div class="daySection col rightBorder">
            <div class="dayTitle">MARTES</div>
            <div class="dayText">PROGRAMA 8</div>
            <div class="dayText">17.00 - 18.00</div>
          </div>
          <div class="daySection col rightBorder miercolesDay">
            <div class="dayTitle">MIÉRCOLES</div>
            <div class="dayText">PROGRAMA 8</div>
            <div class="dayText">17.00 - 18.00</div>
          </div>
          <div class="daySection col rightBorder juevesDay">
            <div class="dayTitle">JUEVES</div>
            <div class="dayText">PROGRAMA 8</div>
            <div class="dayText">17.00 - 18.00</div>
          </div>
          <div class="daySection col">
            <div class="dayTitle">VIERNES</div>
            <div class="dayText">PROGRAMA 8</div>
            <div class="dayText">17.00 - 18.00</div>
          </div>
        </div>
        <div class="grillaDaysBottom"></div>
        <div class="grillaDaysShadow"></div>
      </div>
    </div>

    <!-- <div class="" style="height: 500px; width: 100%; background-color: red;">
      <img style="width: 100%" src="../images/diagonalBG1.png">
    </div> -->

    <div class="primaryVids">
      <div class="bgOpacity">
        <div class="container">
          <div class="vidsWrapper row">
            <div class="col-md-7 col-sm-7 col-12">
              <video width="100%" height="">
                <source src="../images/mov_bbb.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
              <a data-toggle="modal" href="#videoModal">
                <img class="playBtn" src="../images/playBtn.png">
              </a>
            </div>
            <div class="col-md-5 offset-md-0 col-sm-5 offset-sm-0 col-10 offset-1 secondVid">
              <video width="100%" height="">
                <source src="../images/mov_bbb.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
              <a data-toggle="modal" href="#videoModal">
                <img class="playBtn small" src="../images/playBtn.png">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="secondaryVids">
      <div class="container">
      <div class="vidsWrapper2 row">
        <div class="col-md-3 col-sm-6 col-12 vidWrap">
          <video width="100%" height="">
            <source src="../images/mov_bbb.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <a data-toggle="modal" href="#videoModal"><div class="ampliarTag">AMPLIAR VIDEO</div></a>
          <div class="videoDesc">
            <div class="vidTitle">LOREM IPSUM DOLOR SIT AMET,</div>
            <div class="vidText"><span class="vidTextSpan">LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY</span> <a class="dotsSmall" href="#">[ . . . ]</a></div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12 vidWrap">
          <video width="100%" height="">
            <source src="../images/mov_bbb.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <a data-toggle="modal" href="#videoModal"><div class="ampliarTag">AMPLIAR VIDEO</div></a>
          <div class="videoDesc">
            <div class="vidTitle">LOREM IPSUM DOLOR SIT AMET,</div>
            <div class="vidText"><span class="vidTextSpan">LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY</span> <a class="dotsSmall" href="#">[ . . . ]</a></div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12 vidWrap">
          <video width="100%" height="">
            <source src="../images/mov_bbb.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <a data-toggle="modal" href="#videoModal"><div class="ampliarTag">AMPLIAR VIDEO</div></a>
          <div class="videoDesc">
            <div class="vidTitle">LOREM IPSUM DOLOR SIT AMET,</div>
            <div class="vidText"><span class="vidTextSpan">LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY</span> <a class="dotsSmall" href="#">[ . . . ]</a></div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12 vidWrap">
          <video width="100%" height="">
            <source src="../images/mov_bbb.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <a data-toggle="modal" href="#videoModal"><div class="ampliarTag">AMPLIAR VIDEO</div></a>
          <div class="videoDesc">
            <div class="vidTitle">LOREM IPSUM DOLOR SIT AMET,</div>
            <div class="vidText"><span class="vidTextSpan">LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY</span> <a class="dotsSmall" href="#">[ . . . ]</a></div>
          </div>
        </div>
        <a class="verMasBtn" href="#">VER MÁS VIDEOS</a>
      </div>
      </div>
    </div>

    <div class="noticiasContainer">
      <div class="noticiasOpacity">
        <div class="container">
          <div class="noticiaTitle">NOTICIAS</div>

          <div class="row noticiasRow">
            <div class="col-md-6 col-sm-12 col-12">
              <video width="100%">
                <source src="../images/mov_bbb.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
              <div class="leerTag">LEER MÁS</div>
              <div class="videoDescNoticias videoDescNoticiasLong">
                <div class="vidTitle">LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADISPICING ELIT, SED DIAM NONUMMY</div>
                <div class="vidText"><span class="vidTextSpanLong">LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY. LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY  LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY</span> <a class="dotsLong" href="#"><b>[ . . . ]</b></a></div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 noSidePaddings secondNoticeWrap row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <video width="100%">
                  <source src="../images/mov_bbb.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <div class="leerTagSmall">LEER MÁS</div>
                <div class="videoDescNoticias videoDescSmall">
                  <div class="vidTitle">LOREM IPSUM DOLOR SIT</div>
                  <div class="vidText"><span class="vidTextSpan">LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY. LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY  LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY</span> <a class="dotsLong" href="#"><b>[ . . . ]</b></a></div>
                </div>

                <video width="100%">
                  <source src="../images/mov_bbb.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <div class="leerTagSmall">LEER MÁS</div>
                <div class="videoDescNoticias videoDescSmall">
                  <div class="vidTitle">LOREM IPSUM DOLOR SIT</div>
                  <div class="vidText"><span class="vidTextSpan">LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY. LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY  LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY</span> <a class="dotsLong" href="#"><b>[ . . . ]</b></a></div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <video width="100%">
                  <source src="../images/mov_bbb.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <div class="leerTagSmall">LEER MÁS</div>
                <div class="videoDescNoticias videoDescSmall">
                  <div class="vidTitle">LOREM IPSUM DOLOR SIT</div>
                  <div class="vidText"><span class="vidTextSpan">LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY. LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY  LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY</span> <a class="dotsLong" href="#"><b>[ . . . ]</b></a></div>
                </div>

                <video width="100%">
                  <source src="../images/mov_bbb.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <div class="leerTagSmall">LEER MÁS</div>
                <div class="videoDescNoticias videoDescSmall">
                  <div class="vidTitle">LOREM IPSUM DOLOR SIT</div>
                  <div class="vidText"><span class="vidTextSpan">LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY. LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY  LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY LOREM IPSUM DOLOR SIT AMET, CON-SECTETUER ADISPICING ELIT, SED DIAM NONUMMY</span> <a class="dotsLong" href="#"><b>[ . . . ]</b></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="montecarloNoticiasContainer">      
      <div class="montecarloWrapper">
        <div class="container noSidePaddingsMobile">
        <div class="montecarloTitle">CENTRO DE MONTECARLO DE NOTICIAS</div>
        <div class="row montecarloVids">
          <div class="col-md-3 col-sm-6 col-xs-12 noSidePaddingsMobile">
            <video width="100%">
              <source src="../images/mov_bbb.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <div class="videoDescNoticias videoDescSmall montecarloDesc">
              <div class="vidTitle">LOREM IPSUM DOLOR SIT AMET CONSECTETUER</div>
            </div>
            <div class="montecarloTag">LEER MÁS</div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12 noSidePaddingsMobile">
            <video width="100%">
              <source src="../images/mov_bbb.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <div class="videoDescNoticias videoDescSmall montecarloDesc">
              <div class="vidTitle">LOREM IPSUM DOLOR SIT AMET CONSECTETUER</div>
            </div>
            <div class="montecarloTag">LEER MÁS</div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12 noSidePaddingsMobile">
            <video width="100%">
              <source src="../images/mov_bbb.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <div class="videoDescNoticias videoDescSmall montecarloDesc">
              <div class="vidTitle">LOREM IPSUM DOLOR SIT AMET CONSECTETUER</div>
            </div>
            <div class="montecarloTag">LEER MÁS</div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12 noSidePaddingsMobile">
            <video width="100%">
              <source src="../images/mov_bbb.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            
            <div class="videoDescNoticias videoDescSmall montecarloDesc">
              <div class="vidTitle">LOREM IPSUM DOLOR SIT AMET CONSECTETUER</div>
            </div>
            <div class="montecarloTag">LEER MÁS</div>
          </div>
        </div>
        </div>
      </div>
    </div>

    <div id="videoModal" class="modal fade" role="dialog">
      <div class="modal-dialog videoModalDialog">
        <div class="modal-content">
          <div class="modal-body">
            <video width="100%" controls>
              <source src="../images/mov_bbb.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default closeVideoModalBtn" data-dismiss="modal">CERRAR</button>
          </div>
        </div>
    
      </div>
    </div>

    <div class="foo footer">
      <div class="row footerRow container">
        <div class="col-md-2 col-4">
          <h6 class="footerSubTitle"><b>Navegación</b></h6>
          <div class="footerLink"><a href="#">Inicio</a></div>
          <div class="footerLink"><a href="#">Noticias</a></div>
          <div class="footerLink"><a href="#">Videos</a></div>
          <div class="footerLink"><a href="#">Canal</a></div>
          <img class="logoFooter" src="../images/logoWhite.png"/>
        </div>
        <div class="col-md-5 col-8">
          <h6 class="footerSubTitle"><b>Newsletter</b></h6>
          <p class="footerParagraph">Mantente al día con la programación y con nuestras novedades. Ingrese su e-mail y suscríbase a nuestro boletín.</p>
          <div>
            <input class="footerSubsInput" type="text" placeholder="Escribe tu e-mail *"><button class="footerSubsBtn">SUBSCRIBE</button>
          </div>
          <p class="copyrightP">Copyright c Canal 3 S.A. Todos los derechos reservados - Aviso legal - Carpeta pública</p>
        
        </div>
        <div class="col-md-5 col-sm-5 hideOnTablet">
          <input class="footerInput" type="text" placeholder="Nombre">
          <input class="footerInput" type="text" placeholder="E-mail">
          <input class="footerInput" type="text" placeholder="Teléfono">
          <textarea class="footerInput footerTextarea" type="text" placeholder="Mensaje"></textarea>

          <div class="footerBtns col-md-12 col-sm-12 col-xs-12">
            <a href="#"><img class="rsBtns" src="../images/youtubeBtn.png"></a>
            <a href="#"><img class="rsBtns" src="../images/fbBtn.png"></a>
            <a href="#"><img class="rsBtns" src="../images/twitterBtn.png"></a>
            <a href="#"><img class="rsBtns" src="../images/igBtn.png"></a>
            <a href="#"><img class="sendBtn" src="../images/sendBtn.png"></a>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="../scripts/popper.min.js"></script>
    <script type="text/javascript" src="../libs/jQuery/jquery-3.2.1.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/popper.min.js"></script> -->
    <!-- <script type="text/javascript" src="../libs/bootstrap/js/bootstrap-carousel.js"></script> -->
    <script type="text/javascript" src="../libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../libs/jquery-popdown-master/lib/jquery.popdown.js"></script>
    <script type="text/javascript" src="../scripts/scripts.js"></script>
  </body>



</html>