<!DOCTYPE HTML>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" /> -->
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>

  <body>

    <div class="header">
      <div class="container row">
        <div class="col-md-5 col-sm-5 col noSidePaddings">
          <ul class="sections hideOnMobile row">
            <li class="col noSidePaddings headerInicio"><a href="#">INICIO</a></li>
            <li class="col noSidePaddings headerVideos"><a href="#">VIDEOS</a></li>
            <li class="col noSidePaddings headerNoticias"><a href="#">NOTICIAS</a></li>
            <li class="col noSidePaddings headerCanal"><a href="#">CANAL</a></li>
            <li class="col noSidePaddings headerContacto"><a href="#">CONTACTO</a></li>
          </ul>
          <img class="mobileMenuImage d-block d-sm-none" src="../images/menu.png">
        </div>
      
        <div class="col-md-2 col-sm-2 col noSidePaddings">
          <img class="logo" src="../images/canal3Logo.png"/>
        </div>
        <div class="col-md-5 col-sm-5 col noSidePaddings headerRightSection">
          <a class="hideOnMobile" href="#"><img class="headerBtn firstBtn" src="../images/ytHeaderBtn.png"/></a>
          <a class="hideOnMobile" href="#"><img class="headerBtn" src="../images/fbHeaderBtn.png"/></a>
          <a class="hideOnMobile" href="#"><img class="headerBtn" src="../images/twitterHeaderBtn.png"/></a>
          <a class="hideOnMobile" href="#"><img class="headerBtn" src="../images/igHeaderBtn.png"/></a>
          <div class="headerSearcher"><img src="../images/searchBtn.png"/></div>
        </div>

        <div class="col-md-5 offset-md-7 col-sm-12 col-12 noSidePaddings headerSearch">
          <input class="headerSearchInput" type="text" placeholder="B U S C A R  . . ."> 
          <button class="searchButton" style="display: none;"><a href="#"></a></button>
        </div>
      </div>
    </div>

    <div class="col-12 row mobileMenu noSidePaddings">
      <div class="mobileMenuItem firstMenuItem noSidePaddings col-12">INICIO</div>
      <div class="mobileMenuItem noSidePaddings col-12">VIDEOS</div>
      <div class="mobileMenuItem noSidePaddings col-12">NOTICIAS</div>
      <div class="mobileMenuItem noSidePaddings col-12">CANAL</div>
      <div class="mobileMenuItem noSidePaddings col-12">CONTACTO</div>
    </div>

    <div class="ampliadaContainer row container">
      <div class="col-md-8 col-12 noSidePaddings">
        <div class="ampliadaLeftWrapper">
          <div class="leftArticle">
            <img src="../images/playa.jpeg">
            <h3 class="leftArticleTitle">LOREM IPSUM DOLOR SIT AMET, CONSECT ETUER ADIPIS UAM ERAT VO</h3>
            <p class="leftArticleP"><b>Lorem ipsum dolor sit amet, consectetuer adipis.</b></p>
            <div style="display: flex;">
              <div class="leftArticleBy">By <a class="byAuthor" href="#">Ina Caza</a> &nbsp; <span class="byDate">8.21.2017</span></div>
              <div class="leftArticleByLine col"></div>
            </div>
            <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet.</p>          
          </div>

          <div class="leftArticle">
            <h3 class="leftArticleTitle">LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADI</h3>
            <div class="leftArticleVideoContainer">
              <video class="leftArticleVideo">
                <source src="../images/mov_bbb.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
              <div class="fbVideoTag row">
                <div class="fbVideoTagDesc col-md-10">
                  <b>LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADI</b><br>
                  Posted By <b>Canal 3 Uruguay</b><br>
                  <span>70,497</span> Views
                </div>
                <div class="fbVideoLogo col-md-2">
                  
                </div>
              </div>
              <div class="fbVideoBottomDesc">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum.
              </div>
              <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet.</p>
            </div>
          </div>
          
          <div class="leftArticle">
            <h3 class="leftArticleTitle">LOREM IPSUM DOLOR SIT AMET</h3>
            <img src="../images/playa.jpeg">
            <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet.</p>          
          </div>

          <div class="leftArticle">
            <h3 class="leftArticleTitle">LOREM IPSUM DOLOR SIT AMET, CONSECTETUER</h3>
            <video class="leftArticleVideo">
              <source src="../images/mov_bbb.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet.</p>          
          </div>

          <div class="row">
            <div class="leftArticleByLineBottom col"></div>
          </div>
        </div>

        <div class="row authorDiv">
          <img class="authorPicture" style="height: 100px;" src="../images/profile.png">
          <div class="authorInfo col">
            <span class="authorName"><b>Ina Caza</b></span>
            <p class="authorDesc"><b>Lorem ipsum dolor sit amet</b></p>
            <p class="authorDate">08.21.2017</p>
          </div>
        </div>

      </div>

      <div class="col-md-4 col-12 noSidePaddings">
        <div class="ampliadaRightWrapper">
          <input class="searchInput" placeholder="B U S C A R  .  .  ." type="text">

          <div class="subscribeSection">
            <div class="subscribeTitle">
              ¡MANTENTE AL DÍA!
            </div>
            <div class="subscribeComment">
              <img src="../images/logoWhiteBG.png">
              <p>Únete a nuestra lista de correos para recibir las últimas noticias y avances de nuestro Canal.</p>
            </div>
            <div class="subscribeInputs">
              <div class="subscribeSectionDiamond"></div>
              <div class="belowDiamond">
                <input class="emailInput" type="text" placeholder="EMAIL">
                <div class="subscribeBtn"><a href="#"><b>SUSCRIBIRSE</b></a></div>
              </div>
            </div>
          </div>

          <div class="recentlyEntries">
            <div class="subscribeTitle">
              ENTRADAS RECIENTES
            </div>
            <div class="recentlyWraps firstOne row">
              <img class="entriePicture" src="../images/profile.png">
              <div class="entrieInfo col">
                <span class="entrieTitle"><b>LOREM IPSUM</b></span>
                <p class="entrieDesc"><b>Lorem ipsum dolor sit amet</b></p>
                <p class="entrieDate">08.21.2017</p>
              </div> 
            </div>
            <div class="recentlyWraps row">
              <img class="entriePicture" src="../images/profile.png">
              <div class="entrieInfo col">
                <span class="entrieTitle"><b>LOREM IPSUM, DOLOR SIT AMET</b></span>
                <p class="entrieDesc"><b>Lorem ipsum dolor sit amet</b></p>
                <p class="entrieDate">08.21.2017</p>
              </div> 
            </div>
            <div class="recentlyWraps row">
              <img class="entriePicture" src="../images/profile.png">
              <div class="entrieInfo col">
                <span class="entrieTitle"><b>LOREM IPSUM</b></span>
                <p class="entrieDesc"><b>Lorem ipsum dolor sit amet consectetuer, sit amet.</b></p>
                <p class="entrieDate">08.21.2017</p>
              </div> 
            </div>
            <div class="recentlyWraps row">
              <img class="entriePicture" src="../images/profile.png">
              <div class="entrieInfo col">
                <span class="entrieTitle"><b>LOREM IPSUM</b></span>
                <p class="entrieDesc"><b>Lorem ipsum dolor sit amet</b></p>
                <p class="entrieDate">08.21.2017</p>
              </div> 
            </div>
          </div>

          <div class="twitterWrapper">
            <div class="subscribeTitle">
              TWEETS DE @CANAL3
            </div>
            <div class="tweets">
              <a class="twitter-timeline" data-chrome="nofooter noheader" data-lang="es" data-height="500" href="https://twitter.com/CANAL3?ref_src=twsrc%5Etfw">Tweets by CANAL3</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>                
            </div>
          </div>

          <div class="adsWrapper">
            <div class="subscribeTitle">
              PUBLICIDAD
            </div>
            <div class="adsContainer">
              <div class="ad">
                <a href="http://www.google.com"><img src="../images/ads.png"></a>
              </div>
              <div class="ad">
                <a href="http://www.google.com"><img src="../images/ads.png"></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="masNoticiasContainer noSidePaddings col-md-12">
        <a class="masNoticiasBtn" href="#">VER MÁS NOTICIAS</a>

        <div class="row noticesRow">
          <div class="col-md-3 col-sm-3 col-xs-12 noticeWrapper">
            <div class="noticeBorderTop"></div>
            <img src="../images/ads.png">
            <div class="noticeDesc">
              LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT, SED DIAM NONUMMY NIB EUISMOD TINCIDUNT
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 noticeWrapper">
            <div class="noticeBorderTop"></div>
            <img src="../images/ads.png">
            <div class="noticeDesc">
              LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT, SED DIAM NONUMMY NIB EUISMOD TINCIDUNT
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 noticeWrapper">
            <div class="noticeBorderTop"></div>
            <img src="../images/ads.png">
            <div class="noticeDesc">
              LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT, SED DIAM NONUMMY NIB EUISMOD TINCIDUNT
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 noticeWrapper">
            <div class="noticeBorderTop"></div>
            <img src="../images/ads.png">
            <div class="noticeDesc">
              LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT, SED DIAM NONUMMY NIB EUISMOD TINCIDUNT
            </div>
          </div>
        </div>
      </div>
        
    </div>

    <div class="foo footer">
      <div class="row footerRow container">
        <div class="col-md-2 col-4">
          <h6 class="footerSubTitle"><b>Navegación</b></h6>
          <div class="footerLink"><a href="#">Inicio</a></div>
          <div class="footerLink"><a href="#">Noticias</a></div>
          <div class="footerLink"><a href="#">Videos</a></div>
          <div class="footerLink"><a href="#">Canal</a></div>
          <img class="logoFooter" src="../images/logoWhite.png"/>
        </div>
        <div class="col-md-5 col-8">
          <h6 class="footerSubTitle"><b>Newsletter</b></h6>
          <p class="footerParagraph">Mantente al día con la programación y con nuestras novedades. Ingrese su e-mail y suscríbase a nuestro boletín.</p>
          <div>
            <input class="footerSubsInput" type="text" placeholder="Escribe tu e-mail *"><button class="footerSubsBtn">SUBSCRIBE</button>
          </div>
          <p class="copyrightP">Copyright c Canal 3 S.A. Todos los derechos reservados - Aviso legal - Carpeta pública</p>
        
        </div>
        <div class="col-md-5 col-sm-5 hideOnTablet">
          <input class="footerInput" type="text" placeholder="Nombre">
          <input class="footerInput" type="text" placeholder="E-mail">
          <input class="footerInput" type="text" placeholder="Teléfono">
          <textarea class="footerInput footerTextarea" type="text" placeholder="Mensaje"></textarea>

          <div class="footerBtns col-md-12 col-sm-12 col-xs-12">
            <a href="#"><img class="rsBtns" src="../images/youtubeBtn.png"></a>
            <a href="#"><img class="rsBtns" src="../images/fbBtn.png"></a>
            <a href="#"><img class="rsBtns" src="../images/twitterBtn.png"></a>
            <a href="#"><img class="rsBtns" src="../images/igBtn.png"></a>
            <a href="#"><img class="sendBtn" src="../images/sendBtn.png"></a>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="footer footerNotHome">
      <div class="row footerRow container">
        <div class="col-md-2 col-sm-2">
          <h6 class="footerSubTitle"><b>Navegación</b></h6>
          <div class="footerLink"><a href="#">Inicio</a></div>
          <div class="footerLink"><a href="#">Noticias</a></div>
          <div class="footerLink"><a href="#">Videos</a></div>
          <div class="footerLink"><a href="#">Canal</a></div>
          <img class="logoFooter" src="../images/logoWhite.png"/>
        </div>
        <div class="col-md-5 col-sm-5">
          <h6 class="footerSubTitle"><b>Newsletter</b></h6>
          <p class="footerParagraph">Mantente al día con la programación y con nuestras novedades. Ingrese su e-mail y suscríbase a nuestro boletín.</p>
          <div>
            <input class="footerSubsInput" type="text" placeholder="Escribe tu e-mail *"><button class="footerSubsBtn">SUBSCRIBE</button>
          </div>
          <p>Copyright c Canal 3 S.A. Todos los derechos reservados - Aviso legal - Carpeta pública</p>
        
        </div>
        <div class="col-md-5 col-sm-5">
          <input class="footerInput" type="text" placeholder="Nombre">
          <input class="footerInput" type="text" placeholder="E-mail">
          <input class="footerInput" type="text" placeholder="Teléfono">
          <textarea class="footerInput footerTextarea" type="text" placeholder="Mensaje"></textarea>

          <div class="footerBtns col-md-12 col-sm-12 col-xs-12">
            <a href="#"><img class="rsBtns" src="../images/youtubeBtn.png"></a>
            <a href="#"><img class="rsBtns" src="../images/fbBtn.png"></a>
            <a href="#"><img class="rsBtns" src="../images/twitterBtn.png"></a>
            <a href="#"><img class="rsBtns" src="../images/igBtn.png"></a>
            <a href="#"><img class="sendBtn" src="../images/sendBtn.png"></a>
          </div>
        </div>
      </div>
    </div> -->

    <script type="text/javascript" src="../scripts/popper.min.js"></script>
    <script type="text/javascript" src="../libs/jQuery/jquery-3.2.1.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/popper.min.js"></script> -->
    <!-- <script type="text/javascript" src="../libs/bootstrap/js/bootstrap-carousel.js"></script> -->
    <script type="text/javascript" src="../libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../libs/jquery-popdown-master/lib/jquery.popdown.js"></script>
    <script type="text/javascript" src="../scripts/scripts.js"></script>

  </body>



</html>