<!DOCTYPE HTML>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" /> -->
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>

  <body>

    <div class="header">
      <div class="container row">
        <div class="col-md-5 col-sm-5 col noSidePaddings">
          <ul class="sections hideOnMobile row">
            <li class="col noSidePaddings headerInicio"><a href="#">INICIO</a></li>
            <li class="col noSidePaddings headerVideos"><a href="#">VIDEOS</a></li>
            <li class="col noSidePaddings headerNoticias"><a href="#">NOTICIAS</a></li>
            <li class="col noSidePaddings headerCanal"><a href="#">CANAL</a></li>
            <li class="col noSidePaddings headerContacto"><a href="#">CONTACTO</a></li>
          </ul>
          <img class="mobileMenuImage d-block d-sm-none" src="../images/menu.png">
        </div>
      
        <div class="col-md-2 col-sm-2 col noSidePaddings">
          <img class="logo" src="../images/canal3Logo.png"/>
        </div>
        <div class="col-md-5 col-sm-5 col noSidePaddings headerRightSection">
          <a class="hideOnMobile" href="#"><img class="headerBtn firstBtn" src="../images/ytHeaderBtn.png"/></a>
          <a class="hideOnMobile" href="#"><img class="headerBtn" src="../images/fbHeaderBtn.png"/></a>
          <a class="hideOnMobile" href="#"><img class="headerBtn" src="../images/twitterHeaderBtn.png"/></a>
          <a class="hideOnMobile" href="#"><img class="headerBtn" src="../images/igHeaderBtn.png"/></a>
          <div class="headerSearcher"><img src="../images/searchBtn.png"/></div>
        </div>

        <div class="col-md-5 offset-md-7 col-sm-12 col-12 noSidePaddings headerSearch">
          <input class="headerSearchInput" type="text" placeholder="B U S C A R  . . ."> 
          <button class="searchButton" style="display: none;"><a href="#"></a></button>
        </div>
      </div>
    </div>

    <div class="col-12 row mobileMenu noSidePaddings">
      <div class="mobileMenuItem firstMenuItem noSidePaddings col-12">INICIO</div>
      <div class="mobileMenuItem noSidePaddings col-12">VIDEOS</div>
      <div class="mobileMenuItem noSidePaddings col-12">NOTICIAS</div>
      <div class="mobileMenuItem noSidePaddings col-12">CANAL</div>
      <div class="mobileMenuItem noSidePaddings col-12">CONTACTO</div>
    </div>

    <div class="ampliadaContainer row container">
      <div class="col-md-8 col-12 leftTopWrapper">
        <div class="leftTopImageWrapper">
          <img class="leftTopImage" src="../images/playa.jpeg">
        </div>
        <div style="position: relative;">
          <div class="leftTopImageText">
            <div class="leftTopTitle">LOREM IPSUM DOLOR SIT</div>
            <div class="leftTopText">LOREM IPSUM DOLOR SIT AMET, CONSECTETUER NIBH</div>
            <div class="leftTopDate">8. 21. 2017</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-12 rightTopWrapper">
        <div class="rightContent">
          <div class="noticeBorderTop"></div>
          <img class="leftTopImage" src="../images/greyBG.png">
          <div class="topAppDesc">
            <p class="desc">LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT, SED DIA Y NIBH EUISMOD</p>
            <p class="bottomText">Aplicaciones</p>
          </div>
          <div class="topApp2 row">
            <img class="topAppPicture" src="../images/profile.png">
            <div class="entrieInfo col">
              <span class="topAppText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed dia  ynibh euismod</span>
              <p class="bottomText topApp2BottomText">Noticias</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12 sponsorDiv">
        <!-- <img src="."> -->
        <span class="sponsorText">SPONSORED</span>
      </div>

      <div class="col-md-12 lastNoticesContainer noSidePaddings">
        <div class="grillaTitle lastNoticesTitle">ÚLTIMAS <span>NOTICIAS</span></div>

        <div class="row noticesRow lastNoticesRow">
          <div class="col-md-3 col-sm-6 col-12 noticeWrapper">
            <div class="noticeBorderTop"></div>
            <img src="../images/ads.png">
            <div class="noticeDesc">
              LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT, SED DIAM NONUMMY NIB EUISMOD TINCIDUNT
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-12 noticeWrapper">
            <div class="noticeBorderTop"></div>
            <img src="../images/ads.png">
            <div class="noticeDesc">
              LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT, SED DIAM NONUMMY NIB EUISMOD TINCIDUNT
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-12 noticeWrapper">
            <div class="noticeBorderTop"></div>
            <img src="../images/ads.png">
            <div class="noticeDesc">
              LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT, SED DIAM NONUMMY NIB EUISMOD TINCIDUNT
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-12 noticeWrapper">
            <div class="noticeBorderTop"></div>
            <img src="../images/ads.png">
            <div class="noticeDesc">
              LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT, SED DIAM NONUMMY NIB EUISMOD TINCIDUNT
            </div>
          </div>
        </div>

        <div class="row noticesRow lastNoticesRow">
          <div class="col-md-3 col-sm-6 col-12 noticeWrapper">
            <div class="noticeBorderTop"></div>
            <img src="../images/ads.png">
            <div class="noticeDesc">
              LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT, SED DIAM NONUMMY NIB EUISMOD TINCIDUNT
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-12 noticeWrapper">
            <div class="noticeBorderTop"></div>
            <img src="../images/ads.png">
            <div class="noticeDesc">
              LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT, SED DIAM NONUMMY NIB EUISMOD TINCIDUNT
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-12 noticeWrapper">
            <div class="noticeBorderTop"></div>
            <img src="../images/ads.png">
            <div class="noticeDesc">
              LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT, SED DIAM NONUMMY NIB EUISMOD TINCIDUNT
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-12 noticeWrapper">
            <div class="noticeBorderTop"></div>
            <img src="../images/ads.png">
            <div class="noticeDesc">
              LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT, SED DIAM NONUMMY NIB EUISMOD TINCIDUNT
            </div>
          </div>
        </div>
      </div>   
      
      <div class="col-md-10 offset-md-1 col-12 sponsorDiv">
        <!-- <img src="."> -->
        <span class="sponsorText">SPONSORED</span>
      </div>

      <div class="col-md-12 lastNoticesContainer noSidePaddings">
        <div class="grillaTitle lastNoticesTitle montecarloNoticeTitle">CENTRO MONTECARLO <span>DE NOTICIAS</span></div>

        <div class="row lastNoticesContent">
          <div class="col-md-4 col-12 noticesSubscribeWrapper">
            <div class="noticesSubscribeSection">
              <img src="../images/canal3Logo.png">
              <div class="noticesSubscribeText">Suscribe a nuestro boletín</div>
              <p>Únete a nuestra lista de correos para recibir las últimas noticias y avances de nuestro Canal.</p>
              <input class="emailInput" type="text" placeholder="EMAIL">
              <div class="subscribeBtn"><a href="#"><b>SUSCRIBIRSE</b></a></div>
            </div>

          </div>
  
          <div class="col-md-8 col-12 bottomRightSection row">
            <div class="noticeBorderTop col-md-12"></div>
            <div class="col-md-12 noSidePaddings row">
              <div class="col-md-6 col-sm-6 col-xs-6 bottomLeftPanel">
                <img src="../images/ads.png">
                <div class="bottomLeftPanelText">
                  LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT, SED DIA YNIBH EUISMOD
                </div>
                <div class="authorBottom">
                  por Jackeline Rivero | <span>Ago 23, 2017</span> | <span class="starsFilled">&#9733;&#9733;</span><span class="starsEmpty">&#9733;&#9733;&#9733;</span>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 bottomRightPanel">
                <div class="bottomRightRow bottomRightBottomBorder row">
                  <img class="topAppPicture" src="../images/profile.png">
                  <div class="entrieInfo col">
                    <span class="topAppText">Lorem ipsum dolor sit amet, consectetuer</span>
                    <div class="authorBottom">
                      por Jackeline Rivero | <span>Ago 23, 2017</span> | <span class="starsFilled">&#9733;&#9733;&#9733;&#9733;&#9733;</span><span class="starsEmpty"></span>
                    </div>
                  </div>
                </div>
                <div class="bottomRightRow bottomRightTopBorder bottomRightBottomBorder row">
                  <img class="topAppPicture" src="../images/profile.png">
                  <div class="entrieInfo col">
                    <span class="topAppText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</span>
                    <div class="authorBottom">
                      por Jackeline Rivero | <span>Ago 23, 2017</span> | <span class="starsFilled">&#9733;&#9733;&#9733;&#9733;</span><span class="starsEmpty">&#9733;</span>
                    </div>
                  </div>
                </div>
                <div class="bottomRightRow bottomRightTopBorder bottomRightBottomBorder row">
                  <img class="topAppPicture" src="../images/profile.png">
                  <div class="entrieInfo col">
                    <span class="topAppText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed dia</span>
                    <div class="authorBottom">
                      por Jackeline Rivero | <span>Ago 23, 2017</span> | <span class="starsFilled">&#9733;&#9733;&#9733;&#9733;</span><span class="starsEmpty">&#9733;</span>
                    </div>
                  </div>
                </div>
                <div class="bottomRightRow bottomRightTopBorder row">
                  <img class="topAppPicture" src="../images/profile.png">
                  <div class="entrieInfo col">
                    <span class="topAppText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed dia  ynibh euismod</span>
                    <div class="authorBottom">
                      por Jackeline Rivero | <span>Ago 23, 2017</span> | <span class="starsFilled">&#9733;&#9733;&#9733;</span><span class="starsEmpty">&#9733;&#9733;</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- <div class="masNoticiasContainer noSidePaddings col-md-12">
        <a class="masNoticiasBtn" href="#">VER MÁS NOTICIAS</a>

        <div class="row noticesRow">
          <div class="col-md-3 col-sm-3 col-xs-12 noticeWrapper">
            <div class="noticeBorderTop"></div>
            <img src="../images/ads.png">
            <div class="noticeDesc">
              LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT, SED DIAM NONUMMY NIB EUISMOD TINCIDUNT
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 noticeWrapper">
            <div class="noticeBorderTop"></div>
            <img src="../images/ads.png">
            <div class="noticeDesc">
              LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT, SED DIAM NONUMMY NIB EUISMOD TINCIDUNT
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 noticeWrapper">
            <div class="noticeBorderTop"></div>
            <img src="../images/ads.png">
            <div class="noticeDesc">
              LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT, SED DIAM NONUMMY NIB EUISMOD TINCIDUNT
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 noticeWrapper">
            <div class="noticeBorderTop"></div>
            <img src="../images/ads.png">
            <div class="noticeDesc">
              LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT, SED DIAM NONUMMY NIB EUISMOD TINCIDUNT
            </div>
          </div>
        </div>
      </div> -->
        
    </div>

    <div class="foo footer">
      <div class="row footerRow container">
        <div class="col-md-2 col-4">
          <h6 class="footerSubTitle"><b>Navegación</b></h6>
          <div class="footerLink"><a href="#">Inicio</a></div>
          <div class="footerLink"><a href="#">Noticias</a></div>
          <div class="footerLink"><a href="#">Videos</a></div>
          <div class="footerLink"><a href="#">Canal</a></div>
          <img class="logoFooter" src="../images/logoWhite.png"/>
        </div>
        <div class="col-md-5 col-8">
          <h6 class="footerSubTitle"><b>Newsletter</b></h6>
          <p class="footerParagraph">Mantente al día con la programación y con nuestras novedades. Ingrese su e-mail y suscríbase a nuestro boletín.</p>
          <div>
            <input class="footerSubsInput" type="text" placeholder="Escribe tu e-mail *"><button class="footerSubsBtn">SUBSCRIBE</button>
          </div>
          <p class="copyrightP">Copyright c Canal 3 S.A. Todos los derechos reservados - Aviso legal - Carpeta pública</p>
        
        </div>
        <div class="col-md-5 col-sm-5 hideOnTablet">
          <input class="footerInput" type="text" placeholder="Nombre">
          <input class="footerInput" type="text" placeholder="E-mail">
          <input class="footerInput" type="text" placeholder="Teléfono">
          <textarea class="footerInput footerTextarea" type="text" placeholder="Mensaje"></textarea>

          <div class="footerBtns col-md-12 col-sm-12 col-xs-12">
            <a href="#"><img class="rsBtns" src="../images/youtubeBtn.png"></a>
            <a href="#"><img class="rsBtns" src="../images/fbBtn.png"></a>
            <a href="#"><img class="rsBtns" src="../images/twitterBtn.png"></a>
            <a href="#"><img class="rsBtns" src="../images/igBtn.png"></a>
            <a href="#"><img class="sendBtn" src="../images/sendBtn.png"></a>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="footerNotHome">
      <div class="row footerRow container">
        <div class="col-md-2 col-sm-2">
          <h6 class="footerSubTitle"><b>Navegación</b></h6>
          <div class="footerLink"><a href="#">Inicio</a></div>
          <div class="footerLink"><a href="#">Noticias</a></div>
          <div class="footerLink"><a href="#">Videos</a></div>
          <div class="footerLink"><a href="#">Canal</a></div>
          <img class="logoFooter" src="../images/logoWhite.png"/>
        </div>
        <div class="col-md-5 col-sm-5">
          <h6 class="footerSubTitle"><b>Newsletter</b></h6>
          <p class="footerParagraph">Mantente al día con la programación y con nuestras novedades. Ingrese su e-mail y suscríbase a nuestro boletín.</p>
          <div>
            <input class="footerSubsInput" type="text" placeholder="Escribe tu e-mail *"><button class="footerSubsBtn">SUBSCRIBE</button>
          </div>
          <p>Copyright c Canal 3 S.A. Todos los derechos reservados - Aviso legal - Carpeta pública</p>
        
        </div>
        <div class="col-md-5 col-sm-5">
          <input class="footerInput" type="text" placeholder="Nombre">
          <input class="footerInput" type="text" placeholder="E-mail">
          <input class="footerInput" type="text" placeholder="Teléfono">
          <textarea class="footerInput footerTextarea" type="text" placeholder="Mensaje"></textarea>

          <div class="footerBtns col-md-12 col-sm-12 col-xs-12">
            <a href="#"><img class="rsBtns" src="../images/youtubeBtn.png"></a>
            <a href="#"><img class="rsBtns" src="../images/fbBtn.png"></a>
            <a href="#"><img class="rsBtns" src="../images/twitterBtn.png"></a>
            <a href="#"><img class="rsBtns" src="../images/igBtn.png"></a>
            <a href="#"><img class="sendBtn" src="../images/sendBtn.png"></a>
          </div>
        </div>
      </div>
    </div> -->

    <script type="text/javascript" src="../scripts/popper.min.js"></script>
    <script type="text/javascript" src="../libs/jQuery/jquery-3.2.1.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/popper.min.js"></script> -->
    <!-- <script type="text/javascript" src="../libs/bootstrap/js/bootstrap-carousel.js"></script> -->
    <script type="text/javascript" src="../libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../libs/jquery-popdown-master/lib/jquery.popdown.js"></script>
    <script type="text/javascript" src="../scripts/scripts.js"></script>

  </body>



</html>